@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4"><b>Witaj na Portalu Pacjenta!</b></h1><br />
    <img src="https://www.invimed.pl/media/cache/article_cover_default/portal-pacjenta-jpg.JPG" />
    <br /><br /><br /><br /><br /><br />
    <p style="font-size:2vw">Zapraszamy do korzystania z naszych usług.</p>
</div>
