@{
    ViewData["Title"] = "Anulowano wizyte";
}

<div class="text-center">
    <h2>Twoja wizyta z lekarzem została anulowana</h2>
    <br /><br />
    <p><h3>Powrót do menu pacjenta: </h3> <a class="nav-link text-blue" asp-area="" asp-controller="Pacjent" asp-action="Pacjent"><h3>Menu Pacjenta</h3></a></p>
</div>