@{
    ViewData["Title"] = "Brak wizyty";
}

<div class="text-center">
    <h2>Danego dnia lekarz nie jest umówiony z pacjentem o tym ID</h2>
    <br /><br />
    <p><h3>Powrót do menu pacjenta: </h3> <a class="nav-link text-blue" asp-area="" asp-controller="Pacjent" asp-action="Pacjent"><h3>Menu Pacjenta</h3></a></p><br />
    <br /><h3>Lub spróbuj anulować wizytę jeszcze raz: </h3> <a class="nav-link text-blue" asp-area="" asp-controller="Umow" asp-action="Anuluj"><h3>Anuluj wizytę</h3></a>
</div>