@{
    ViewData["Title"] = "Umów wizytę";
}

<div class="text-center">
    <br /><br />
    <h1 class="text-success">Udało ci się umówić wizytę</h1><br /><br />
    <a class="nav-link text-blue" asp-area="" asp-controller="Wizyty" asp-action="ListaWizyt"><h3>Kliknij tutaj aby zobaczyć listę wizyt</h3></a>

</div>
