@{
    ViewData["Title"] = "Dostępność lekarza";
}

<div class="text-center">
    <h2>Lekarz danego dnia jest </h2><h2 class="text-success">dostępny</h2>
    <br /><br />
    <p><h3>Możesz umówić się z nim na wizyte:</h3> <a class="nav-link text-blue" asp-area="" asp-controller="Umow" asp-action="Umow"><h3>Umów wizytę</h3></a></p>
</div>