@model IEnumerable<Lekarz>;
@{
    ViewData["Title"] = "Dostępność lekarza";
}

<div class="text-center">
    <h2>Lekarz danego dnia jest </h2><h2 class="text-danger">niedostępny</h2>
</div>

<br /><br />
      <h3><p class="text-center">Sprawdź listę innych lekarzy poniżej:</p></h3><br />

<table style="width:100%;" class="table table-striped table-hover table-bordered">
    <tr class="table table-info">
        <th>ID</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Specjalizacja</th>
    </tr>
    @foreach (var lekarz in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => lekarz.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => lekarz.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => lekarz.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => lekarz.Spec)
            </td>
        </tr>
    }
</table>